.bottom-footer-wrap {
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
}
.bottom-footer {
    background: #1f1f20;
    border-top: 1px solid #333;
    padding: 60px 0 100px;
    font-size: 14px;
    color: #666;
    line-height: 30px;
    .bottom-footer-help {
        padding-left: 186px;
        dl {
            width: 190px;
            float: left;
        }
        dt {
            font-weight: 700;
            color: #999;
            padding-bottom: 26px;
        }
        a {
            color: #666;
        }
    }
}
.bottom-footer-other {
    width: 314px;
    float: right;
    .bottom-footer-faq {
        width: 190px;
        text-align: center;
        margin-left: -45px;
        h3 {
            color: #999;
            padding-top: 3px;
            padding-bottom: 10px;
            font-size: 26px;
        }
        .ol {
            background: #f85535;
            border-radius: 5px;
            color: #FFF;
            margin: 5px auto;
        }
        a {
            display:block;
            width: 78px;
            height: 28px;
            font: 14px/28px "Microsoft YaHei";
            color: #999;
            margin: 0 auto;
            // vertical-align: middle;
        }
    }
}
.wechat-tip {
    display: none;
    position: absolute;
    left: -71px;
    top: -104px;
}


.bottom-footer .bottom-footer-help a:hover {
    text-decoration: underline;
}
.wechat:hover .wechat-tip{
    display: block
}