.top_nav{
    height: 101px;
    background-color: #FFF;
    border-bottom: 3px solid #de2f3c;
    box-shadow: 0 3px 3px #CCC;
    .logo{
        display: block;
        width: 183px;
        text-align: center;
        height: 72px;
        padding-top: 29px;
        background-color: #c20315;
        margin-bottom: -3px;
    }
    .shop_store{
        margin: 37px 0 0 34px;
    }
    .all_wares{
        position: relative;
        width: 175px;
        margin-left: 50px;
        text-indent: 19px;
        z-index: 1;
        .text{
            height: 101px;
            line-height: 101px;
            font-size: 15px;
            cursor: pointer;
            span{
                display: inline-block;
                width: 15px;
                height: 13px;
                margin-right: 7px;
                background: url(http://static.wanmei.com/shop/images/base.png) no-repeat -24px 0;
                vertical-align: -1px;
            }
        }
        ul{
            position: absolute;
            top: 101px;
            left: 0;
            padding-bottom: 10px;
            display: none;
            width: 100%;
            font-size: 14px;
            background-color: #FFF;
            box-shadow: 0 2px 3px #CCC;
        }
        li{
            position: relative;
            a{
                display: block;
                width: 155px;
                padding-right: 20px;
                height: 40px;
                line-height: 40px;
                background-color: #FFF;
                color: #474747;
                position: relative;
            }
            em{
                position: absolute;
                top: 15px;
                right: 10px;
                width: 6px;
                height: 10px;
                overflow: hidden;
                background: url(http://static.wanmei.com/shop/images/base.png) no-repeat -54px 0;
            }
            .on dd a{
                background-color: #f5f5f5;
                color: #474747;
            }
        }
        dl {
            position: absolute;
            top: 0;
            left: 175px;
        }
    }
    .nav{
        margin-top: 40px;
        li{
            float: left;
            padding: 0 15px;
            font-size: 15px;
            a{
                color: #474747;
            }
        }
    }
    .header_search{
        input{
            resize: none;
            outline: 0;
        }
        position: relative;
        width: 320px;
        height: 41px;
        margin-top: 30px;
        z-index: 1;
        .text{
            float: left;
            width: 263px;
            height: 39px;
            line-height: 39px;
            padding: 0 5px;
            border: 1px solid #CCC;
            border-right: 0;
        }
        .btn{
            float: right;
            width: 46px;
            height: 41px;
            border: 0;
            background: #e32332 url(http://static.wanmei.com/shop/images/search.png) no-repeat center;
            cursor: pointer;
        }
        .keyword{
            position: absolute;
            top: 1px;
            right: 56px;
            height: 30px;
            padding-top: 9px;
            a{
                display: inline-block;
                padding: 3px 5px;
                background-color: #EEE;
            }
        }
    }
}
.all_wares:hover .text{
    background-color: #e32331;
    color: #ffffff;
}
.top_nav .all_wares:hover span{
    background-position: -39px 0;
}
.all_wares:hover ul{
    display: block
}
.all_wares ul a:hover{
    background-color: #f5f5f5;
    color: #e90404;
}
.top_nav .all_wares li a:hover em{
    background-position: -60px 0;
}
.top_nav .nav a:hover{
    color:#e90404;
}
.header_search a:hover{
    color: #e90404;
}

.all_wares li.on dd a:hover {
    background-color: #FFF;
}