html body{
    background-color: #fafafa;
}
.wrappar {
    width: 1239px;
    margin: 0 auto;
}


@import "detheader";

@import "detside";

@import "hint";

@import "detmain";

@import "detmain2";

@import "detgoods";

@import "detbottom1";

@import "copyright";