
.block{
    display: block;
}
html body{
    background-color: #f5f5f5;
    color: #474747;
    min-width: 1300px;
}


@import 'header-top';

@import 'aside';

@import 'topnav';

@import 'slideshow';

@import 'buying';

@import 'data2area';

@import 'footer';

@import 'copyright';


.WM_LoginBox {
    position: fixed;
    z-index: 999999;
    left: 50%;
    top: 50%;
    width: 624px;
    height: 384px;
    margin: -223px 0 0 -312px;
    border: 1px solid #979797;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    .closebox {
        height: 35px;
        border-top: 3px solid #dc4949;
        background: url(https://static.games.wanmei.com/pay/sso/basic/images/c_line.png) no-repeat 572px 0;
        span {
            float: right;
            width: 46px;
            height: 20px;
            cursor: pointer;
            background: url(https://static.games.wanmei.com/pay/sso/basic/images/closebox.png) no-repeat center center;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
    iframe {
        height: 346px;
        width: 100%;
        background: none;
        border: none;
        clear: both;
        overflow: hidden;
    }
}